target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
*.sh
*.properties
*.json
*.log

### VS Code ###
.vscode/
.vs/

profile/
